.active {
  font-weight: 700; 
  font-size: 20px;
  color: #00afaa !important ;
}
ul li:last-child {
  background-color: #00afaa;
  border-radius: 50px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
ul li:last-child a {
  color: white !important;
}
ul li:last-child:hover a {
color: #00afaa !important;
}
ul li:last-child:hover {
  background-color: transparent;
  border: 1px solid #00afaa;
}
#banner {
  background-image: url(../images/ima.jpg);
}
.my-button {
  background-color: #00afaa;
  padding: 8px 15px;
  border-radius: 50px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.my-button:hover {
  background-color: transparent;
  border: 1px solid #00afaa;
}
.my-button a {
  color: white !important;
  text-decoration: none;
}
.my-button a:hover {
  color: #00afaa !important;
}
.content {
  margin: 0;
}